<div class="symbol-input">
	<mat-form-field>
		<input type="text" placeholder="Stock Symbol" aria-label="Number" matInput #stockInput
			[value]="(stockInput.value || '').toUpperCase()" [formControl]="myControl" [matAutocomplete]="auto"
			(change)="onChange(stockInput.value)">
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChange($event.option.value)">
			<mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
				{{option}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<div class="full-stock-name">
		{{chosenStock.name}}
	</div>
	<div class="latest-price" *ngIf="showPrice && (latestPrice$ | async)">
		${{(latestPrice$ | async).toFixed(4)}} per share
	</div>
	<div class="getting-latest-price" *ngIf="showPrice && chosenStock.name && !(latestPrice$ | async)">
		Getting latest price . . .
	</div>
</div>