.symbol-input {
	text-align: left;
}

.example-form {
	width: 15ch;
}

.example-full-width {
	width: 100%;
}

.latest-price, .getting-latest-price {
	margin: 0.75rem 0;
}

.getting-latest-price {
	color: gray;
}
