:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.half {
    flex: 1 1 45%;
    margin: 1% 2%;
    max-width: 45ch;
    min-width: 28ch;
}

form {
	button.buy {
		margin-top: 1rem;
	}
}
.results {
	white-space: pre-line;
	max-height: 12rem;
	overflow: auto;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 1rem 0;
	max-width: 40ch;
	&.changing {
		visibility: hidden;
	}
}
.second.half .results {
	max-height: 19rem;
}
