<!--The content below is only a placeholder and can be replaced.-->
<div>
	<h1>
		Ready to purchase stocks?
	</h1>
	<h3>
		(You have unlimited fake credit!)
	</h3>
	<form>
		<app-stock-select></app-stock-select>
		<app-set-investment></app-set-investment>
		<button
			class="buy"
			mat-flat-button
			color="primary"
			[disabled]="!(stockService.maxShares$ | async)"
			(click)="attemptPurchase()">Pretend to buy now!</button>
	</form>
	<h3>Latest Purchase Events:</h3>
	<div class='results' *ngIf="resultsArrived">
		{{results$ | async}}
	</div>
</div>